__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.log
.dockerignore
myenv/
backups/
dashboard/
phase2/
2023/
tests/
dxstream/
trello.py
monitor.sh
dxpoll.py
test_monitor.py
settings.xml
Makefile
monitor.log
static/
output/
config.yaml
K/
L/