<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <directories>
        <project>/home/bioinf/george/pipeline_automation/</project>
        <virtual_env>/home/bioinf/george/pipeline_automation/myenv</virtual_env>
        <run_directory>/home/bioinf/george/pipeline_automation/*/*/*/</run_directory>
        <RTA_directory>/mnt/dxstream/runs/Novaseq/*/</RTA_directory>
    </directories>
</settings>
