<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DNAnexus Run Status Dashboard</title>
  </head>
  <body>
    <h1>DNAnexus Run Status Dashboard</h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Run ID</th>
        <th>Dirpath</th>
        <th>Stage</th>
        <th>Output Dir</th>
        <th>Status</th>
      </tr>
      {% for row in data %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
