<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Run ID</th>
        <th>Q30</th>
        <th>Error Rate</th>
        <th>Yield</th>
        <th>Clusters PF:</th>
        <th>Cluster Density:</th>
        <th>QScore Histogram:</th>
        <th>Scatter:</th>
        <th>Flowcell:</th>
        <th>Instrument:</th>
        <th>Side:</th>
      </tr>
    </thead>
    <tbody>
      {% for row in run_metrics_data %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2]|round(2) }}</td>
        <td>{{ row[3]|round(2) }}</td>
        <td>{{ row[4]|round(2) }}</td>
        <td>{{ row[5]|round(2) }}</td>
        <td>{{ row[6]|round(2) }}</td>
        <td>
          {% if row[7] %}
          <img src="{{ url_for('static', filename=row[7].split('/', 1)[-1]) }}" alt="QScore Histogram" width="250">
          {% else %}
          <p>No image available</p>
          {% endif %}
        </td>
        <td>
          {% if row[8] %}
          <img src="{{ url_for('static', filename=row[8].split('/', 1)[-1]) }}" alt="Scatter Plot" width="250">
          {% else %}
          <p>No image available</p>
          {% endif %}
        </td>
        <td>{{ row[9] }}</td>
        <td>{{ row[10] }}</td>
        <td>{{ row[11] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>