<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Run ID</th>
        <th>Dirpath</th>
        <th>Stage</th>
        <th>Output Dir</th>
        <th style="font-weight:bold;">Status</th>
        <th>Demux ID</th>
        <th>Analysis ID</th>
      </tr>
    </thead>
    <tbody>
      {% for row in run_status_data %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td style="font-weight:bold; color:{% if row[5] == 'QC PASS' %}green{% elif row[5] == 'QC FAIL' %}red{% endif %}">{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
        <td>{{ row[7] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
